.hurrytimer-campaign-28 .hurrytimer-headline {
  display: none !important;
}
.countdown {
  background-color: #cedbff;
  align-content: space-around;
}
.countdown_wrap_box_1 {
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 20px;
}
.countdown_wrap_box_2 {
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 20px;
}
.countdown_t {
  color: #4755ba;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3em;
}
.countdown_t_mobile {
  display: none;
}
.countdown_p {
  font-size: 9px;
}
.countdown_wrap_box_2 {
  flex-direction: row;
}
.counter {
  width: 180px;
}
.header__box {
  min-height: 80px;
}
.logo {
  padding-left: 20px;
}
.logo__img {
  width: 70px;
}
.nav__wrap {
  margin: 0;
}
.nav__item {
  font-size: 16px;
  font-weight: 500;
  color: var(--c1);
}
.login {
  width: 100px;
}
.burger__menu {
  display: none;
  height: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--c5);
  z-index: 9999;
  padding-top: 30px;
  padding-right: 30px;
}
.burger_close {
  width: 50px;
  height: 50px;
  position: relative;
  margin-left: auto;
  border: 1px solid blue;
  border-radius: 50%;
  padding-top: 10px;
}
.burger_line {
  width: 70%;
  height: 2px;
  background-color: var(--c2);
  position: absolute;
  z-index: 1;
  top: 23px;
  left: 7px;
}
.burger_close ._1 {
  transform: translateY(-50%) rotate(45deg);
}
.burger_close ._2 {
  transform: translateY(-50%) rotate(-45deg);
}
.burger_icon {
  display: none;
  height: 30px;
  width: 50px;
  gap: 2px;
}
.burger__menu__nav {
  padding: 74px;
}
.burger_icon__line {
  background-color: var(--c1);
  height: 3px;
  border: 1px solid var(--c2);
  width: 100%;
}
.burger_ul {
  gap: 26px;
  margin: 0;
}
