
.f {display:-webkit-box;display:-ms-flexbox;display:flex;}
.fw {-ms-flex-wrap:wrap;flex-wrap:wrap;}
.fwn {-ms-flex-wrap:nowrap;flex-wrap:nowrap;}
.fnw {-ms-flex-wrap:nowrap;flex-wrap:nowrap;}
.fr {-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;}
.frr {-webkit-box-orient: horizontal;-webkit-box-direction: reverse;-ms-flex-direction: row-reverse;flex-direction: row-reverse;}
.fc {-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;}
.fcr {-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse;}
.fac {-webkit-box-align:center;-ms-flex-align:center;align-items:center;}

.f_ {-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;}
._f {-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;}
.f_f {-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;}
._f_f_ {-ms-flex-pack:distribute;justify-content:space-around;}
._f_ {-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}

.gap4 {gap:4px;}
.gap10 {gap:10px;}
.gap16 {gap:16px;}
.gap20 {gap:20px;}
.gap30 {gap:30px;}
.gap40 {gap:40px;}
.gap74 {gap:74px;}
.gap3ps {gap:3%;}
.gap4ps {gap:4%;}


._b_b {border-bottom: 1px solid var(--c3);}
._b_t {border-top: 1px solid var(--c3);}
._b_l {border-left: 1px solid var(--c3);}
._b_r {border-right: 1px solid var(--c3);}
._b_c1 {border: 1px solid var(--c1);}
._b_c2 {border: 1px solid var(--c2);}
.pad3ps{
    padding: 3%;
}
.pad4ps{
    padding: 4%;
}


.pad4 {padding:4px;}
.pad4t {padding-top:4px;}
.pad4b {padding-bottom:4px;}
.pad4l {padding-left:4px;}
.pad4r {padding-right:4px;}

.pad7l {padding-left:7px;}
.pad7 {padding:7px;}


.pad10 {padding:10px;}
.pad10l {padding-left:10px;}
.pad10r {padding-right:10px;}

.pad16 {padding:16px;}
.pad16t {padding-top:16px;}
.pad16b {padding-bottom:16px;}
.pad16l {padding-left:16px;}
.pad16r {padding-right:16px;}

.pad20 {padding:20px;}
.pad20b {padding-bottom:20px;}
.pad40 {padding:40px;}
.pad40b {padding-bottom:40px;}
.pad40t {padding-top:40px;}

.pad74 {padding:74px;}
.pad74t {padding-top:174x;}
.pad74b {padding-bottom:74px;}
.pad74l {padding-left:74px;}
.pad74r {padding-right:74px;}

._br4 {border-radius:4px;}
._br7 {border-radius:7px;}
._br16 {border-radius:16px;}
._br20 {border-radius:20px;}


.hide{
    overflow: hidden;
}

.shadow {
-webkit-box-shadow: 0 4px 16px rgba(0,0,0, 0.1);
        box-shadow: 0 4px 16px rgba(0,0,0, 0.1);
}
.shadow:hover {
    -webkit-box-shadow: 0 4px 16px rgba(0,0,0, 0.2);
            box-shadow: 0 4px 16px rgba(0,0,0, 0.2);
}
.shadow:active {
    -webkit-box-shadow: 0 4px 16px rgba(0,0,0, 0.3);
            box-shadow: 0 4px 16px rgba(0,0,0, 0.3);
}
.shadow_non:hover {
    -webkit-box-shadow: 0 4px 16px rgba(0,0,0, 0.1) !important;
            box-shadow: 0 4px 16px rgba(0,0,0, 0.1) !important;
}

.f_auto {-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto;}
.f_100 {-webkit-box-flex:1;-ms-flex:1 1 100%;flex:1 1 100%;}
.f_16 {-webkit-box-flex:1;-ms-flex:1 1 16px;flex:1 1 16px; max-width:16px;}
.f_74 {-webkit-box-flex:1;-ms-flex:1 1 74px;flex:1 1 74px; max-width:74px;}
.f_296 {-webkit-box-flex:1;-ms-flex:1 1 296px;flex:1 1 296px; max-width:296px;}
.f_296M {-webkit-box-flex:1;-ms-flex:0 1 296px;flex:0 1 296px; max-width:296px;}
.f_296m {-webkit-box-flex:0;-ms-flex:1 0 296px;flex:1 0 296px; max-width:296px;}


.w {width:100%;}
.w50 {width:50%;}

.h {height:100%;}
.h_296M {max-height:296px;}
.h_74m {min-height:74px;}

.scroll {overflow:auto;height:100%;width:100%;position:relative;}
.scroll::-webkit-scrollbar {width: 2px;}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--c7);
  border-radius: 2px;
  position: absolute;
  right: 10px; /* Сдвиг вправо на 10 пикселей */
  z-index: 1;
}
.l_h1em{line-height: 1em;}
.l_h15em{line-height: 1.6em;}
.fs16{
    font-size: 16px;
}
.fs18{
    font-size: 18px;
}
.fs20{
    font-size: 20px;
}
.fs22{
    font-size: 22px;
}
.fs30{
    font-size: 30px;
}
.fs40{
    font-size: 40px;
}
.fs60{
    font-size: 60px;
}
._t_{
  text-align: center;
}
.T{text-transform: uppercase;}
.fw500{font-weight: 500;}
.fw800{font-weight: 800;}
.fw900{font-weight: 900;}

.f100 {
  flex: 1 1 100%;
}
.f50 {
  flex: 1 1 50%;
}
.f60 {
  flex: 1 1 60%;
}
.f30 {
  flex: 1 1 30%;
}
.f_a {
  flex: 1 1 auto;
}
.f_500 {
  flex: 1 1 500px;
}
.f_440 {
  flex: 1 1 440px;
}
.f_400 {
  flex: 1 1 400px;
}
.f_200 {
  flex: 1 1 200px;
}
.f_300 {
  flex: 1 1 300px;
}
.f_170 {
  flex: 1 1 170px;
}
.f_150 {
  flex: 1 1 150px;
}
.f_100 {
  flex: 1 1 100px;
}



/* 
* {
    border:1px solid green;
}
